#topNavBox{
	width:100%;
	height:34px;
	background:#eee;
}
.topNav{
	width:1190px;
	margin:0 auto;
	height:100%;
	/* background: red; */
}
.topNavLeft{
	float:left;
	/* width:360px; */
	/* padding-top:7px; */
	/* background: blue; */
}
/* .topNavLeft .wechat{
	margin-top:-7px;
	height:34px;
	line-height: 21px;
	width: 100px;
	background-color: #fff;
	box-shadow: 0 0 0px #cdcdcd;
}
.topNavLeft .wechat span{
	float:left;
	line-height: 34px;
	padding:0 10px;
} */
.caomiaoweix{
	position: absolute;
	top:34px;
	left: 0;
	width: 100px;
	height: 100px;
	padding: 8px 12px 10px;
	background-color: #fff;
	box-shadow: 0 0 8px #cdcdcd;
	display: none;
}
.caomiaoweix1{
	position: absolute;
	top:34px;
	left: 0;
	width: 134px;
	height: 145px;
	padding: 8px 12px 10px;
	background-color: #fff;
	box-shadow: 0 0 8px #cdcdcd;
	display: none;
}
.topNavLeft .topNavLeftSon{
	float:left;
	height:34px;
	line-height: 34px;
	position: relative;

}

.topNavLeftSonsum{
	width:79px;
}
.topNavLeftSonsum1{
	width:148px;
}
.topNavLeftsum1{
	float:left;
	width:148px;
	height:34px;
	line-height: 34px;
	position: relative;
}
.topNavLeftsum{
	float:left;
	width:79px;
	height:34px;
	line-height: 34px;
	position: relative;
}
.topNavLeftsum1 i{
	position: absolute;
	left:0px;
	top:30px;
	width:158px;
	height: 8px;
	background: #fff;
	display: none;
}
.myyin i{
	position: absolute;
	left:0px;
	top:30px;
	width:82px;
	height: 8px;
	background: #fff;
	z-index: 30px;
	display: none;
}
.topNavLeftsum i{
	position: absolute;
	left:0px;
	top:30px;
	width:124px;
	height: 8px;
	background: #fff;
	display: none;
}
.topNavLeft a{
	float:left;
	height:34px;
	line-height: 34px;
	padding-left:26px;
}
.topNavLeft .shouj3{
	padding-left:0px;
}
.topNavLeft span{
	float:left;
	line-height: 34px;
	padding:0px 10px 0;
}
.topNavLeft a strong{
	float:left;
	font-weight: normal;
}
.topNavLeftSon .topNavxialasanjiao{
	float:left;
	height:5px;
	width:9px;
	padding:0px;
	margin-top:14px;
	margin-left:8px;
	background: url(../images/header-02.png) no-repeat -175px -111px;
	transition:transform 0.2s  ease-in 0s;
}
.topNavLeftSon:hover .topNavxialasanjiao{
	background: url(../images/header-02.png) no-repeat -175px -128px;
	height:5px;
	width:9px;
	transform:rotate(360deg);
	transition:transform 0.2s  ease-in 0s;
}
.topNavLeftSon1{
 	background: url(../images/header-02.png) no-repeat -224px 7px; 
}
.topNavLeftSon2{
 	background: url(../images/header-02.png) no-repeat -224px -51px; 
}
.topNavLeft .topNavLeftSon3{
	float: left;
	width:40px;
	height:20px;
 	background: url(../images/phone.png) no-repeat 0px 0px; 
	position: absolute;
	left:0px;
	top:7px;

}
.topNavRight{
	float:right;
	height:100%;
	/* background: yellow; */
}
.topNavRight li{
	float:left;
	line-height: 34px;
}
.topNavRight li.myyin{
	position:relative;
	padding-left: 12px;
	width:70px;
	text-align: center;
}
.myyinnav{
	position:absolute;
	top:34px;
	left:0px;
	width:82px;
	background: #fff;
	z-index: 20;
	display: none;
	box-shadow: 0 0 8px #cdcdcd;
}
.myyinnav p{
	height:29px;
	line-height: 29px;
	border-bottom:1px solid #dcdcdc;
	text-align: center;
}
.myyinnav p a:hover{
	text-decoration: underline;
}
.topNavRight .login{
	margin-right:10px;
}
.topNavRight li span{
	padding:0 12px;
}
.topNavRight .topNavRightTeshuspan{
	padding-left:0px;
}
.topNavRight .topNavrightright{
	float:left;
}
.topNavRight .topNavxialasanjiao{
	float:left;
	height:5px;
	width:9px;
	padding:0px;
	margin-top:14px;
	margin-left:4px;
	background: url(../images/header-02.png) no-repeat -175px -111px;
	transition:transform 0.2s  ease-in 0s;
}
.myyin:hover .topNavxialasanjiao{
	background: url(../images/header-02.png) no-repeat -175px -128px;
	height:5px;
	width:9px;
	transform:rotate(360deg);
	transition:transform 0.2s  ease-in 0s;
}
#logoBox{
	width:1190px;
	margin:0 auto;
	height:96px;
	padding-top:24px;

}
.logoBoxLeft{
	float:left;
	width:400px;
}
.logoBoxLeftSon1{
	float:left;
	width:215px;
	height:76px;
	padding-right: 14px;
	border-right:1px solid #efefef;
}
.logoBoxLeftSon2{
	float:left;
	padding-left:8px;

}
.logoBoxRight{
	width:678px;
	float:right;
	padding-top:22px;
/* 	background: red; */
	height:74px;
}
.logoBoxRightSon1{
	float:left;
	width:500px;
	/* background: blue; */
	height:100%;
}
.logoSouText{
	float:left;
	width:446px;
	height:30px;
	padding-left: 4px;
	border:2px solid #323333;
	color:#888;
	border-right:0px;
}
.logoSoubtn{
	float:left;
	width:46px;
	height:34px;
	background: url(../images/header-02.png) no-repeat 0px -76px;
}
.logoBoxRightSon1Top{
	height:34px;
}
.logoBoxRightSon1Bottom{
	padding-top:6px;
	line-height: 24px;
}
.logoBoxRightSon1Bottom a{
	float:left;
	margin-right:12px;
	color:#888;
}
.logoBoxRightSon1Bottom a:hover{
	color:#e5004f;
	text-decoration: underline;
}
.logoBoxRightSon1Bottom .logoBoxRightSon1Color{
	color:#e5004f;
}
.logoBoxRightSon2{
	width:160px;
	height:34px;
	float:right;
	background: url(../images/header-01.png) no-repeat -55px -76px;
}
.logoBoxRightSon2A{
	width:160px;
	height:34px;
	display: block;
	position: relative;
	
}
.logoBoxRightSon2 a{
	color:#666;
}
.gouwuche{
	display: none;
	position:absolute;
	right: 0;
	top: 34px;
	width: 290px;
	height:70px;
	line-height: 70px;
	text-align: center;
	border: 1px solid #cacaca;
	box-shadow: 0 0 8px #cacaca;
	background-color: #fff;
}

.logoBoxRightSon2A span{
	float:left;
	padding-left: 48px;
	height:34px;
	line-height: 34px;
	color:#fff;
}
.logoBoxRightSon2A span strong{
	padding:0 5px;
	color:#e5004f;
	font-size:16px;
	vertical-align: middle;
}
#mainNavBox{
	width:100%;
	margin-top:6px;
	border-bottom:1px solid #2d2e2e;
}
#mainNav{
	width:1190px;
	height:39px;
	margin:0 auto;
}
.mainNavLeft{
	float:left;
	width:210px;
	height:39px;
	background: #222;
	position:relative;
}
.fenlei{
	display: block;
	width:210px;
	line-height: 39px;
	text-align: center;
	color:white;
	font-weight: normal;
	font-size:18px;
}
.fenlei:hover{
	color:white;
}
.sidenav{
	width:210px;
	height:470px;
	position:absolute;
	left:0;
	top:39px;
	z-index:400;
	border-top: 1px solid #222;
	background: #515151;
	box-shadow: 3px 1px 5px rgba(0,0,0,0.2);
}
.sidenav dl{
	float:left;
	width:210px;
	height:46px;
	margin-bottom:1px;
}
.sidenav dl dt{
	float:left;
	width:192px;
	height:30px;
	padding-top:16px;
	padding-left:18px;
	background:#333;
	font-size: 16px;
}
.sidenav dl dd{
	position:absolute;
	left:210px;
	top:0px;

	
}
.sidenav dl.dl-9 dd{
	top:24px;
}
.sidenav dl.dl-10 dd{
	top:80px;
}
.sidenav dl dt em{
	display: inline-block;
	width:17px;
	height:17px;
	margin-right:7px;
	vertical-align: middle;
	background:  url(../images/header-02.png) no-repeat;
}
.sidenav dl.dl-1 dt em{
	background-position: 0px -112px;
}
.sidenav dl.dl-2 dt em{
	background-position: -17px -112px;
}
.sidenav dl.dl-3 dt em{
	background-position: -34px -112px;
}
.sidenav dl.dl-4 dt em{
	background-position: -51px -112px;
}
.sidenav dl.dl-5 dt em{
	background-position: -68px -112px;
}
.sidenav dl.dl-6 dt em{
	background-position: -85px -112px;
}
.sidenav dl.dl-7 dt em{
	background-position: -102px -112px;
}
.sidenav dl.dl-8 dt em{
	background-position: -119px -112px;
}
.sidenav dl.dl-9 dt em{
	background-position: -136px -112px;
}
.sidenav dl.dl-10 dt em{
	background-position: -154px -112px;
}
.sidenavLeft{
	float:left;

}
.sidenavLeft a{
	float:left;
	color:white;
	height:24px;
}
.sidenavLeft span{
	float:left;
	padding:2px 8px 0px;
	color:#999;
}
.sidenavRight{
	float:left;
	font-size:12px;
	width:110px;
}
.sidenavRight a{
	float:left;
	color:white;
	line-height: 24px;
}
.sidenavRight span{
	float:right;
	width: 6px;
	height: 11px;
	margin:5px 15px 0 0;
	background: url(../images/header-01.png) -209px -111px no-repeat;
}
.sidenavErji{
	width: 495px;
	float: left;
	/* padding-bottom: 10px; */
	letter-spacing: 0;
	background: url(../images/category-listings3.png) 0 0 repeat-y;
	opacity: 0.97;
	filter: alpha(opacity:97);
	display: none;
}
.sorts-list{
	float: left;
	width: 295px;
	padding: 8px 20px 0;
}
.sorts-repeats{
	padding: 8px 0 7px 0;
    *padding: 7px 0 6px 0;
    _padding: 7px 0 6px 0;
    border-bottom: 1px dotted #666;
}
.cy{
	border-bottom:none;
}
.sorts-repeats a{
	color:#fff;
}
.sorts-repeats a:hover{
	color:#e5004f;
}
.sorts-repeats .sortsColor{
	color:#e5004f;
}
.sorts-repeats h3{
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	line-height:20px;
}
.sorts-repeats p a{
	line-height: 20px;
	margin-right: 12px;
}
.sorts-brand{
	float: left;
	width: 145px;
	padding: 15px 0 15px 15px;
}
.sorts-brand h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px dotted #666;
}
.sorts-brand p{
	width:130px;

}
.sorts-brand p a{
	color:#fff;
	float:left;
	margin-right:10px;
	height:24px;
	line-height: 24px;
	font-size: 12px;

}
.mainNavCenter{
	width:570px;
	height:39px;
	float:left;
}
.mainNavCenter li{
	float:left;
	height:39px;
	padding:0px 15px;
	position:relative;
	line-height: 39px;
}
.mainNavCenter li a{
	font-size: 16px;
	padding:0 10px;
	float:left;
	height:36px;
	border-bottom:3px solid #fff;
}
.mainNavCenter li a:hover{
	border-bottom:3px solid #e5004f;
}
.temai{
	position: absolute;
	top:-12px;
	left:54px;
	width:45px;
	height:25px;
}
.mainNavRight{
	float:right;
	height:39px;
	line-height: 39px;
	font-size: 14px;
}
.mainNavRight span{
	padding:0 6px;
	color:#dbcbdb;
}
#bannerBox{
	width:100%;
	min-width:1190px;
	height:470px;
	position:relative;
	cursor:pointer;
}
.pannels{
	height:470px;
	overflow: hidden;
	position:relative;
}
.banner_pannels{
	width: 100%;
    height: 470px;
    background-position: center 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.banner_content{
	width:1190px;
	height:470px;
	margin:0 auto;
}
.banner_prev{
	left:50%;
	background-position: left top;
	margin-left: -385px;
	display: none;
}
.banner_next{
	right:50%;
	background-position: right top;
	margin-right: -385px;
	display: none;
}
.banner_prev,.banner_next{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
   /* filter: alpha(opacity=60);
    opacity: 60; */
    width: 30px;
    height: 60px;
    overflow: hidden;
    background-image: url(../images/prevnext.png);
    background-repeat: no-repeat;
}
.banner_square{
	height:8px;
	position:absolute;
	left:620px;
	bottom:20px;
}
.banner_square li{
	width:30px;
	height:8px;
	background: #211616;
	margin-right: 1px;
	float:left;
}
.banner_square .banner_active{
	background: #e5004f;
}
.banner-pic{
	width:200px;
	height:470px;	
}
.banner-pic img{
	width:200px;
	height:470px;
	position:absolute;
	right:80px;
	top:0px;
	transition:0.2s all linear;
}
.banner-pic img:hover{
	right:88px;
}
#chaozhitemai{
	width:1190px;
	margin:0 auto;
	height:325px;
	padding-top:30px;
}
.chaozhitemaiLeft{
	width:910px;
	float:left;
    
}
.chaozhitemaiLeft_titile li{
	float: left;
	width: 303px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	border-bottom: 5px solid #333333;
	position: relative;
	cursor:pointer;
}
.clear:after{
	content:"";
	display: block;
	clear:both;
}
.clear{
	zoom:1;
}
.chaozhitemaiLeft_titile li a{
	font-size: 16px;
	color:#000;
}
.chaozhitemaiLeft_titile li span{
	position:absolute;
	width: 7px;
	height: 4px;
	left: 143px;
	top: 43px;
	background: url(../images/yt_ico.png) 0 -16px no-repeat;
	overflow: hidden;
	/* display: none; */
}
.chaozhitemaiLeft_titile li a{
	font-size: 16px;
	color:#000;
}
.chaozhitemaiLeft_titile li a:hover{
	font-weight: bold;
}
.chaozhitemaiLeft_content{
	padding-top:10px;
	width:910px;
	height:262px;
}
.chaozhitemaiLeft_content1,.chaozhitemaiLeft_content2{
	width:910px;
	height:262px;
}
.chaozhitemaiLeft_content2 .chaozhitemaiLeft_contentS1{
	float:left;
	border: 1px solid #eee;
	width: 220px;
	height: 260px;
	margin-right: 7px;
	*display: inline;
	*margin-right: 5px;
	position: relative;
}
.chaozhitemaiLeft_content1 .chaozhitemaiLeft_contentS1{
	float:left;
	border: 1px solid #eee;
	width: 220px;
	height: 260px;
	margin-right: 7px;
	*display: inline;
	*margin-right: 5px;
	position: relative;

}
.chaozhitemaiLeft_contentS1 .border-top,.border-right,.border-bottom,.border-left{
	position:absolute;

}
.chaozhitemaiLeft_contentS1 .border-top{
	top:0;
	left:0;
	height:1px;
	width:0px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
 .chaozhitemaiLeft_contentS1:hover .border-top{
	width:220px;
}
.chaozhitemaiLeft_contentS1 .border-right{
	bottom:0px;
	right:0px;
	height:0px;
	width:1px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
 .chaozhitemaiLeft_contentS1:hover .border-right{
	height:260px;
}
.chaozhitemaiLeft_contentS1 .border-bottom{
	bottom:0px;
	right:0;
	height:1px;
	width:0px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
 .chaozhitemaiLeft_contentS1:hover .border-bottom{
	width:220px;
}
.chaozhitemaiLeft_contentS1 .border-left{
	top:0;
	left:0;
	height:0px;
	width:1px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
.chaozhitemaiLeft_contentS1:hover .border-left{
	height:260px;
}
.chaozhitemaiLeft_content1 .chaozhitemaiLeft_contentSC{
	width:220px;
	height:260px;
}
.chaozhitemaiLeft_content2 .chaozhitemaiLeft_contentSC{
	width:220px;
	height:210px;
}
.chaozhitemaiLeft_content2 .chaozhitemaiLeft_contentSC img{
	margin:0 auto;
	display: block;
} 
.chaozhitemaiLeft_content3 img:hover{
  opacity: 0.9;
  filter:alpha(opacity=90);
}
.chaozhitemaiRight{
	float: right;
	width: 270px;
	padding-top:25px;
	height: 300px;
}
.waiping{
	width:1190px;
	margin:0 auto;
	margin-top:30px;
}
.waiping_pic{
	width:1190px;
	height:80px;
}
#zhuanguiBox{
	width:1190px;
	margin:36px auto 0;
	height:624px;
	overflow: hidden;
}
.zhuanguiBox-title{
	width:1190px;
	height:46px;
}
.zhuanguiBox-title a{
	display: block;
	width:1190px;
	height:36px;
	padding-top:10px;
}
.zhuanguiBox-title a h6{
	width: 380px;
	height: 36px;
	margin-bottom: 10px;
	background: url(../images/floor_tk.png) no-repeat 0 0;
}
.zhuangguiBox-content{
	border: 1px solid #eee;
    padding: 10px;

}
.zhuangguiLeft{
	width:340px;
	height:555px;
	float:left;
}
.zhuangguiRight{
	float: right;
    width: 815px;
    height:555px;
}
.zhuangguiRight-title{
	border-bottom: 3px solid #333;
    position: relative;
    height: 35px;
}
.zhuangguiRight-titleUl{
	position: absolute;
    top: 0px;
    left: 0px;
}
.zhuangguiRight-titleUl li{
	float:left;
	width: 102px;
	height: 35px;
	border-bottom: 3px solid #333;
	text-align: center;
	line-height: 35px;
	color: #414141;
	position: relative;
	font-size: 14px;
}
.zhuangguiRight-titleUl li span{
	position:absolute;
	width: 7px;
	height: 4px;
	left:49px;
	top:31px;
	background: url(../images/yt_ico.png) 0 -16px no-repeat;
	overflow: hidden;
}
.zhuangguiRight-titleUl li a{
	color:#414141;
}
.zhuangguiRight-titleUl li a:hover{
	font-weight: bold;
}
.zhuangguiRight-content{
	
	overflow: hidden;
}
.zhuangguiRight-contentSon{
	width:815px;
	height:555px;
}
.remen_brand a{
	float:left;
	margin-top: 4px;
   margin-right: 5px;
}
.remen_brand a img:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.remen_brand-son1{
	width: 220px;
    height: 250px;
}
.remen_brand-son2{
	width: 365px;
	height: 250px;
}
.remen_brand .remen_brand-son3{
	width: 220px;
	height: 250px;
	margin-right: 0px;
}
.remen_brand-son4{
	width: 290px;
	height: 260px;
}
.remen_brand-son5{
	width: 240px;
	height: 260px;
}
.remen_brand .remen_brand-son6{
	width: 275px;
    height: 260px;
    margin-right: 0px;
}
.benzhoutuijian{
	padding-top:10px;
}
.benzhoutuijian .chaozhitemaiLeft_contentS1{
	width: 198px;
	overflow: hidden;
	border: 1px solid #eee;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
}
.benzhoutuijian .chaozhitemaiLeft_contentSC{
	width: 198px;
    height: 200px;
    overflow: hidden;
}
.benzhoutuijian .chaozhitemaiLeft_contentSC img{
	margin:0 auto;
	display: block;
} 
.benzhouwenzi{
	padding:5px;
}
.benzhouwenzi p{
	position:relative;
}
.benzhouwenzi .benzhouwenziTimu{
	height:20px;
	overflow: hidden;
}
.benzhouwenzi .benzhouwenziTimu a{
	line-height: 20px;
	text-decoration: underline;
	color:#323232;
}
.ben-jiage{
	color:#e5004f;
}
.ben-jiage1{
	color:#e5004f;
	font-weight: bold;
	font-size: 14px;
}
.junjia-jiage{
	text-decoration: line-through;
	position: absolute;
	top: 2px;
	right: 5px;
	color: #a7a7a7;
}
.junjia-jiage1{
	position: absolute;
	top: 2px;
	right: 5px;
	color: #a7a7a7;
}
.main-contentRepeat{
	width:1190px;
	margin:36px auto 0;
	height:418px;
	overflow: hidden;
}
.main-contentRepeatHeader{
	width:1190px;
	height:46px;
}
.main-contentRepeatHeader a{
	display: block;
	width:1190px;
	height:36px;
	padding-bottom:10px;
}
.main-contentRepeatHeader a h6{
	width: 380px;
	height: 36px;
	margin-bottom: 10px;
	background: url(../images/floor_all.png) no-repeat 0 0;
}
.main-contentRepeatHeader a .main-title1{
	background: url(../images/floor_all.png) no-repeat 0 -46px;
}
.main-contentRepeatHeader a .main-title2{
	background: url(../images/floor_all.png) no-repeat 0 -92px;
}
.main-contentRepeatHeader a .main-title3{
	background: url(../images/floor_all.png) no-repeat 0 -138px;
}
.main-contentRepeatHeader a .main-title4{
	background: url(../images/floor_all.png) no-repeat 0 -184px;
}
.main-contentRepeatHeader a .main-title5{
	background: url(../images/floor_all.png) no-repeat 0 -230px;
}
.main-contentRepeatHeader a .main-title6{
	background: url(../images/floor_all.png) no-repeat 0 -275px;
}
.main-contentRepeatHeader a .main-title7{
	background: url(../images/floor_all.png) no-repeat 0 -317px;
}
.main-contentRepeatHeader a .main-title8{
	background: url(../images/floor_all.png) no-repeat 0 -369px;
}
.main-contentRepeatLf{
	float:left;
	width: 228px;
	height: 370px;
	margin-right: 8px;
	border: 1px solid #eee;
}
.main-contentRepeatLf ul{
	padding: 16px 0 0 8px;
	width: 220px;
	height: 172px;
}
.main-contentRepeatLf  li{
	float: left;
    width: 67px;
    height: 32px;
    margin: 0 5px 5px 0;
    display: inline;
	*zoom: 1;
	vertical-align: top;
	_margin: 2px;
	_margin-right: 0;
}
.main-contentRepeatLf  li a{
	display: block;
	border: 1px solid #eee;
	width: 65px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #666;
	overflow: hidden;
	background: #ffffff;	
}
.main-contentRepeatLf  li a:hover{
	background: #e5004f;
	color:#fff;	
}
.main-contentRepeatLf_logo{
	width: 195px;
	height: 140px;
	background: #f2f2f2;
	border-top: 1px dashed #969696;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
}
.xianshi{
	width: 160px;
	height: 116px;
	margin: 15px auto 0;
	overflow: hidden; 
	position: relative;
}
.main-contentRepeatLf_logoSum{
	position: absolute;
    width: 520px;
    left: 0px;
    height: 116px;
}
.main-contentRepeatLf_logo1{
	width:170px;
	height:116px;
	float:left;
}
.main-contentRepeatLf_logo1 a{
	 margin: 0 5px 5px 0; 
	float:left;
}
.main-contentRepeatLf_logo1  img{
	width:75px;
	height:50px;
}
.logo_prev{
	position: absolute;
	background: url(../images/yt_ico_1.png) no-repeat 0 center #f2f2f2;
	width: 14px;
	height: 139px;
	left:5px;
	top: 0;
	overflow: hidden;
}
.logo_next{
	position: absolute;
	background: url(../images/yt_ico_1.png) no-repeat -28px center #f2f2f2;
	width: 14px;
	height: 139px;
	right:5px;
	top: 0;
	overflow: hidden;
}
.main-contentRepeatCt{
	float:left;
	width: 390px;
    height: 372px;
    position:relative;
    overflow: hidden;
    cursor:pointer;
}
.main-Ctbanner{
	width:390px;
	height:372px;
	position:relative;
	
}
.main-Ctbanner img:hover{
	opacity: 0.9;
	filter:alpha(opacity=90);
}
.main-CtbannerBox{
	position:absolute;
	width:780px;
	height:372px;
	left:0px;
	top:0px;
	overflow: hidden;
}

.main-CtbannerBox img:hover{
	opacity: 0.9;
	filter:alpha(opacity=90);
}
.main-Ctbanner a{
	float:left;
	width:390px;
	height:370px;
}
.main-circle{
	position:absolute;
	left:180px;
	bottom:16px;
	height:13px;
}
.main-circle li{
	width:13px;
	height:13px;
	margin-right: 6px;
	float:left;
	background:url(../images/trriger.png) no-repeat 0px 0px;
}
.main-circle .main-circleActive{
	background-position: 0 -13px;
}
.main-CtbannerPrev,.main-CtbannerNext{
	position: absolute;
    top: 155px;
	width: 30px;
	height: 60px;
	overflow: hidden;
	filter: alpha(opacity=70);
	opacity: 0.7;
	background: url(../images/prevnext.png) no-repeat;
	z-index:2;
}
.main-CtbannerPrev{
	left:-30px;
    background-position: left 0;
}
.main-CtbannerNext{
	right:-30px;
 	background-position: right 0;
}
.main-contentRepeatRg{
	float: right;
    width: 552px;
    height: 382px;
    overflow: hidden;
}
.main-RgzhanshiBox{
	float:left;
	width: 276px;
	height:188px;
}
.main-Rgzhanshi{
	position: relative;
	width: 272px;
	height: 182px;
	float: left;
}
.main-Rgzhanshi .border-top{
	top:0;
	left:0;
	height:1px;
	width:0px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
.main-Rgzhanshi:hover .border-top{
	width:271px;
}
.main-Rgzhanshi .border-right{
	bottom:0;
	right:0px;
	height:0px;
	width:1px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
.main-Rgzhanshi:hover .border-right{
	height:181px;
}
.main-Rgzhanshi .border-bottom{
	bottom:0px;
	left:0;
	height:1px;
	width:0px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
.main-Rgzhanshi:hover .border-bottom{
	width:271px;
}
.main-Rgzhanshi .border-left{
	top:0;
	left:0;
	height:0px;
	width:1px;
	font-size: 0;
    background: #666666;
    transition: all 0.5s ease-out;
}
.main-Rgzhanshi:hover .border-left{
	height:181px;
}
.main-Rgzhanshi .chaozhitemaiLeft_contentSC{
	width: 270px;
	height: 180px;
	border: 1px solid #eee;
}
#buy-list{
	width:1190px;
	height: 167px;
	margin: 34px auto;
	border: 1px solid #eee;
	overflow: hidden;
}
#buy-list img:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.buy-listLeft{
	width: 395px;
    float: left;
    height: 165px;
    cursor: pointer;
    overflow: hidden;
}
.buy-listLeft a{
	display: block;
	width: 390px;
	height: 165px;
}
.buy-listCenter{
	width: 396px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    float: left;
    height: 165px;
    cursor: pointer;
    overflow: hidden;
}
.buy-listCenter a{
	display: block;
	width: 396px;
	height: 165px;
}
.buy-listRight{
	width: 395px;
    float: left;
    height: 165px;
    cursor: pointer;
    overflow: hidden;
}
.buy-listRight a{
	display: block;
	width: 395px;
	height: 165px;
}
#ft{
	width:100%;
	min-width: 1190px;
	margin-top: 20px;
	padding-top: 20px;
	background-color: #fff;
}
.contacts{
	width: 1188px;
	height: 88px;
	margin:0 auto 35px;
	border: 1px solid #eee;
	background-color: #f7f7f7;

}
.contacts p{
	float: left;
    border-right: 1px solid #eee;
}
.contacts .services{
	width: 282px;
	height: 68px;
	padding: 20px 0 0 45px;
}
.contacts em{
	font-style:normal;
}
.contacts .services strong{
	display: inline-block;
	padding: 0 20px 0 24px;
	font-size: 20px;
	font-family: Arial;
	color: #e5004f;
	background: url(../images/footer-01.png) 2px 0 no-repeat;
}
.contacts .services span{
	padding-left: 24px;
    font-size: 14px;
    font-family: Arial;
    background: url(../images/footer-01.png) 0 -28px no-repeat;
    color:#888;
}
.contacts .delivery{
	width: 186px;
	height: 65px;
	padding: 23px 0 0 100px;
	background: url(../images/footer-01.png) 52px -56px no-repeat;
}
.contacts .delivery strong,.contacts .baozheng strong,.contacts .free strong{
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #000;
}
.contacts .delivery em,.contacts .baozheng em,.contacts .free em{
	font-style:normal;
	color:#e5004f;
}
.contacts .delivery span,.contacts .baozheng span,.contacts .free span{
	color:#888;
}
.contacts .baozheng{
	width: 182px;
	height: 65px;
	padding: 23px 0 0 104px;
	background: url(../images/footer-01.png) 52px -132px no-repeat;
}
.contacts .free{
	width: 140px;
	border-right: none;
	height: 65px;
	padding: 23px 0 0 115px;
	background: url(../images/footer-01.png) 52px -203px no-repeat;
}
#youqinglianjie{
	width:1190px;
	margin:0px auto 25px;
	text-align: center;
}
#youqinglianjie a{
	margin:0 10px;
	color: #757575;
}
#youqinglianjie a:hover{
	color:#e5004f;
}
#footer{
	width:1190px;
	margin:0 auto;
	text-align: center;
}
.footer-top{
	line-height: 22px;
}
.footer-top a{
	margin: 0 6px;
	color: #b2b2b2;
}
#footer p{
	line-height: 22px;
	color:#b2b2b2;
}
.xukezheng{
	padding:10px 0 20px;
}
.xukezheng a {
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
}
.xukezheng .tegrity{
	width: 112px;
    height: 40px;
}
.xukezheng .cnnic{
	width: 102px;
    height: 40px;
    overflow: hidden;

}
.xukezheng .cnnic img{
	width:102px;
}
.xukezheng .commerce{
	width: 48px;
	height: 48px;
}
#positionFixed{
	width:50px;
	position:fixed;
	height:545px;
	left:50%;
	bottom:20px;
	margin-left:600px;
}
#positionFixed a{
	display:block;
	width:30px;
	height:30px;
	padding:5px 10px 15px;
	line-height: 999px;
	overflow: hidden;
	margin-bottom:5px;
	text-align: center;
	font-size: 14px;
	background: url(../images/floor_nav.png) 0 0 no-repeat;
}
#positionFixed .fixedRight-02{
	background-position:0 -55px;
}
#positionFixed .fixedRight-03{
	background-position:0 -110px;
}
#positionFixed .fixedRight-04{
	background-position:0 -165px;
}
#positionFixed .fixedRight-05{
	background-position:0 -220px;
}
#positionFixed .fixedRight-06{
	background-position:0 -275px;
}
#positionFixed .fixedRight-07{
	background-position:0 -330px;
}
#positionFixed .fixedRight-08{
	background-position:0 -385px;
}
#positionFixed .fixedRight-09{
	background-position:0 -440px;
}
#positionFixed .fixedRight-10{
	background-position:0 -495px;
}



